.card {
  display: grid;
  place-items: center;

  background: var(--clr-neutral-800);
  border-radius: var(--border-radius-900);

  overflow: hidden;

  box-shadow: var(--box-shadow-100);

  transition: var(--transition);

  .card-name {
    font-weight: var(--fw-l);
    margin-bottom: 1rem;
    padding: 0.25rem 1rem;
  }

  svg {
    padding: 1rem;
    aspect-ratio: 1/1;

    scale: 0.85;
  }

  &:hover svg {
    scale: 1;
  }

  &:hover .card-name {
    color: var(--clr-neutral-100);
    // background-color: var(--clr-neutral-900);
    font-weight: var(--fw-b);
    border-radius: var(--border-radius-900);
  }

  &:active {
    background: var(--clr-blue-900);
  }
}
