.card {
  display: grid;
  place-items: center;

  background: var(--clr-neutral-800);
  border-radius: var(--border-radius-900);

  overflow: hidden;

  box-shadow: var(--box-shadow-100);

  scale: 0.85;

  cursor: pointer;

  // prevent fast clicking from highlight words on the page
  user-select: none;

  transition: var(--transition);

  svg {
    padding: 1rem;
    max-height: 90%;
    aspect-ratio: 1/1;

    // force e.target to fallback to .card
    pointer-events: none;
  }

  &:hover {
    scale: 1;
  }

  &:active {
    background: var(--clr-blue-900);
  }
}
