header {
  grid-area: header;

  display: grid;
  align-items: center;

  padding: min(2rem, 4vw);
}

.page-title {
  text-align: center;

  font-size: min(4rem, 10vw);
  font-weight: var(--fw-xb);
  text-transform: uppercase;
  line-height: 0.85;

  color: var(--clr-red-800);

  @media screen and (min-width: 600px) {
    max-width: min-content;
    text-align: left;
  }

  span {
    color: var(--clr-purple-800);
    display: inline-block;
  }
}
