.scoreboard-container {
  grid-area: scoreboard;
  padding: min(2rem, 4vw);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  @media screen and (min-width: 600px) {
    display: block;
  }

  .scoreboard-wrapper {
    border-radius: var(--border-radius-900);

    display: flex;
    gap: 1rem;
    align-items: center;

    @media screen and (min-width: 600px) {
      display: block;
    }
  }

  .score-container {
    display: flex;
    align-items: center;
    gap: 1rem;

    @media screen and (max-width: 600px) {
      display: grid;
      place-items: center;
      gap: 0;
    }
  }

  .scoretype-label {
    font-size: min(1.25rem, 4vw);
    font-weight: var(--fw-r);

    color: var(--clr-neutral-100);

    border-radius: var(--border-radius-900);
  }

  .score {
    font-size: min(10vw, 3rem);
    font-weight: var(--fw-xb);

    &.high {
      color: var(--clr-green-800);
    }
  }
}
